{% extends 'base.html.twig' %}

{% block title %}Mon Planning - Fridge{% endblock %}

{% block body %}
    <div {{ react_component('PlanningPage', {
        'initialGrid': arrGrilleJson,
        'initialLikes': arrLikesJson,
        'initialFavoris': arrFavorisJson
    }) }}></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.FRIDGE_URLS = {
            planningAdd:    '{{ path('app_planning_add') }}',
            planningDelete: '{{ path('app_planning_delete', {id: '__ID__'}) }}',
            planningMove:   '{{ path('app_planning_move') }}'
        };
    </script>
{% endblock %}